In [1]:
import requests
import json

import pandas as pd

file = "winemag-data-130k-v2.csv"
### read data files into Data Frame
wine_df = pd.read_csv(file, index_col = 0)

In [2]:
# count of unique region_1
len(wine_df.region_1.unique())

1230

In [3]:
#### create a new dataframe with just the region1 and country.
locations1_df = wine_df[['region_1', 'country']]

In [4]:
locations1_df.head(5)

               region_1   country
id
0                  Etna     Italy
1                   NaN  Portugal
2     Willamette Valley        US
3   Lake Michigan Shore        US
4     Willamette Valley        US

In [5]:
# total length of dataset
len(locations1_df)

129971

In [6]:
# no of records with region_1 != Nan
len(locations1_df.dropna(subset=["region_1"]))

108724

In [7]:
#### drop rows whose region_1 is NaN
locations2_df = locations1_df.dropna(subset=["region_1"])

In [8]:
len(locations2_df)

108724

In [9]:
# drop all duplicate rows ..to get unique region_1 & country
loc_df = locations2_df.drop_duplicates(subset=None, keep='first', inplace=False)

In [10]:
loc_df.head()
len(loc_df)

1230

In [11]:
# import geocoder library
import geocoder

In [20]:
# loop thru the loc_df and find the co-ordinates for each (region, country)
coord1 =[]
for index, row in loc_df.iterrows():
        g = (row["region_1"], row["country"])
        g_coord = geocoder.google(g)
        coord1.append(g_coord.latlng)

In [21]:
coord1[0]

[37.751005, 14.9934349]

In [22]:
len(coord1)

1230

In [23]:
# append the co-ordiantes to the loc_df dataframe as a new column "coordiantes"
loc_df["coordinates"] = coord1

/Users/janakidevikora/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [24]:
loc_df.head(5)

               region_1 country                coordinates
id
0                  Etna   Italy    [37.751005, 14.9934349]
2     Willamette Valley      US  [44.942554, -122.9337615]
3   Lake Michigan Shore      US  [43.8348105, -85.0720293]
5               Navarra   Spain                       None
6              Vittoria   Italy                       None

In [21]:
# save the dataframe to csv
loc_df.to_csv('region_data.csv', index = False)

In [29]:
loc_df = loc_df.dropna(subset=["coordinates"])

In [34]:
loc_df["coordinates"][0][0]

37.751005

In [44]:
lat = []
lng = []
for index, row in loc_df.iterrows():
    lat.append(row.coordinates[0])
    lng.append(row.coordinates[1])

In [49]:
loc_df["latitude"] = lat

In [50]:
loc_df["longitude"] = lng

In [51]:
loc_df.head(5)

,region_1,country,coordinates,latitude,longitude
id,,,,,
0,Etna,Italy,"[37.751005, 14.9934349]",37.751005,14.993435
2,Willamette Valley,US,"[44.942554, -122.9337615]",44.942554,-122.933762
3,Lake Michigan Shore,US,"[43.8348105, -85.0720293]",43.834811,-85.072029
7,Alsace,France,"[48.3181795, 7.441624099999999]",48.318179,7.441624
10,Napa Valley,US,"[38.5024689, -122.2653887]",38.502469,-122.265389

In [53]:
loc_df = loc_df.drop(["coordinates"], axis=1)

In [54]:
loc_df

                                  region_1    country   latitude   longitude
id
0                                     Etna      Italy  37.751005   14.993435
2                        Willamette Valley         US  44.942554 -122.933762
3                      Lake Michigan Shore         US  43.834811  -85.072029
7                                   Alsace     France  48.318179    7.441624
10                             Napa Valley         US  38.502469 -122.265389
12                        Alexander Valley         US  38.656490 -122.786907
14                           Central Coast         US -33.320842  151.233559
16                                Cafayate  Argentina -26.073080  -65.976052
17                                 Mendoza  Argentina -32.889459  -68.845839
18                        Ribera del Duero      Spain  41.782004   -3.662324
19                                Virginia         US  37.431573  -78.656894
21                                  Oregon         US  43.804133 -120.554201
22                                 Sicilia      Italy  37.599994   14.015356
23                             Paso Robles         US  35.636876 -120.654502
25                            Sonoma Coast         US  38.405270 -123.096764
26                         Terre Siciliane      Italy  37.794625   12.478908
28                   Cerasuolo di Vittoria      Italy  36.972809   14.551606
29                              Clarksburg         US  39.280645  -80.344534
30                     Beaujolais-Villages     France  38.338128 -122.670503
33                        Dry Creek Valley         US  38.610540 -122.873166
34                           Sonoma Valley         US  38.291859 -122.458036
35                             McMinnville         US  45.210116 -123.198716
38                                  Puglia      Italy  40.792839   17.101193
42                              Beaujolais     France  46.113435    4.726386
47                             Lake County         US  42.368936  -87.827153
48                              Monticello         US  38.008604  -78.453199
49                                Brouilly     France  45.844705    4.409160
52                      Monica di Sardegna      Italy  40.826294    8.407570
53                          Bordeaux Blanc     France  29.783476  -98.254447
56                             North Coast         US  33.235941 -117.255003
...                                    ...        ...        ...         ...
102674                              Texoma         US  33.799824  -96.578339
102690                        Capay Valley         US  38.709359 -122.121272
103534                  Fleurieu Peninsula  Australia -35.500000  138.500000
103613             Cacc’e Mmitte di Lucera      Italy  41.505481   15.338528
106425                Sonoma-Napa-Monterey         US  36.600238 -121.894676
106782                           Collioure     France  42.526752    3.084631
107450             Saint Guilhem le Désert     France  43.734434    3.549015
108036         Catalanesca del Monte Somma      Italy  40.833333   14.433333
108866                              Hawaii         US  19.896766 -155.582782
109018                       San Gimignano      Italy  43.467632   11.043491
110555                        Offida Rosso      Italy  42.940863   13.696505
110596                  Côtes de Montravel     France  44.816677    0.071017
111558                                Todi      Italy  42.781935   12.406569
111650                   Colli del Limbara      Italy  40.850000    9.166667
111876                           Catamarca  Argentina -28.471588  -65.787721
116323     Langhorne Creek-Limestone Coast  Australia -35.296256  139.038277
116388             Coda di Volpe d'Irpinia      Italy  41.942646  -87.663582
116979                           Squinzano      Italy  40.434991   18.042174
117168              Barossa-Adelaide Hills  Australia -34.987046  138.552258
118680         Monterey County-Napa County         US  38.176892 -122.266434
120498  Est! Est!! Est!!! di Montefiascone      Italy  42.533851   12.041377
121341                 Terrasses du Larzac     France  43.931016    3.242606
123266                            Apremont     France  46.749352   -1.741805
123726                    San Diego County         US  32.715730 -117.161097
123755                  Niagara Escarpment         US  44.718052  -87.595095
126567                    Sonoma-Napa-Lake         US  38.547148 -122.510345
126987  Sonoma County-Santa Barbara County         US  38.332858 -122.699278
129331                          Del Veneto      Italy  45.762333   11.690976
129411                 Bardolino Superiore      Italy  45.425408    9.140879
129760                             Paestum      Italy  40.423151   15.007163

[1081 rows x 4 columns]

In [55]:
# save the dataframe to csv
loc_df.to_csv('region_data_new.csv', index = False)