In [1]:
# Dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# Path of the CSV file
csvfile = "winemag-data-130k-v2.csv"
regionfile = "region_data.csv"

In [3]:
# Read CSV file into a pandas DataFrame
df = pd.read_csv(csvfile, dtype=object)
region_df = pd.read_csv(regionfile, dtype=object)

In [4]:
df.isnull().any()

id                       False
country                   True
description              False
designation               True
points                   False
price                     True
province                  True
region_1                  True
region_2                  True
taster_name               True
taster_twitter_handle     True
title                    False
variety                   True
winery                   False
dtype: bool

In [5]:
# df.loc[df.price.isnull()]

In [20]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [7]:
# Create an engine to a SQLite database file called `wine.sqlite`
engine = create_engine("sqlite:///wine.sqlite")

In [8]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [9]:
# Use `declarative_base` from SQLAlchemy to model the table as an ORM class

Base = declarative_base()

class Wine(Base):
    __tablename__ = 'wine'

    id = Column(Integer, primary_key=True)
    country = Column(String)
    designation = Column(String)
    points = Column(Integer)
    price = Column(Integer)
    province = Column(String)
    region_1 = Column(String)
    region_2 = Column(String)
    taster_name = Column(String)
    taster_twitter_handle = Column(String)
    title = Column(String)
    variety = Column(String)
    winery = Column(String)

    def __repr__(self):
        return '<Wine %r>' % (self.name)

class Coord(Base):
    __tablename__= 'coordinate'
    
    id = Column(Integer, primary_key=True)
    country = Column(String)
    region_1 = Column(String)
    coordinates = Column(String)
    
    def __repr__(self):
        return '<Coord %r>' % (self.name)

In [10]:
# Use `create_all` to create the customers table in the database
Base.metadata.create_all(engine)

In [11]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [12]:
# Save the reference to the `wine` table as a variable called `table`
wine_table = sqlalchemy.Table('wine', metadata, autoload=True)
coord_table = sqlalchemy.Table('coordinate', metadata, autoload=True)

In [13]:
conn.execute(wine_table.delete())
conn.execute(coord_table.delete())

In [14]:
data = df.to_dict(orient='records')
coord_data = region_df.to_dict(orient='records')

In [15]:
conn.execute(wine_table.insert(), data)
conn.execute(coord_table.insert(), coord_data)

In [16]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from wine limit 5").fetchall()

[(0, 'Italy', 'Vulkà Bianco', 87, None, 'Sicily & Sardinia', 'Etna', None, 'Kerin O’Keefe', '@kerinokeefe', 'Nicosia 2013 Vulkà Bianco  (Etna)', 'White Blend', 'Nicosia'),
 (1, 'Portugal', 'Avidagos', 87, 15, 'Douro', None, None, 'Roger Voss', '@vossroger', 'Quinta dos Avidagos 2011 Avidagos Red (Douro)', 'Portuguese Red', 'Quinta dos Avidagos'),
 (2, 'US', None, 87, 14, 'Oregon', 'Willamette Valley', 'Willamette Valley', 'Paul Gregutt', '@paulgwine\xa0', 'Rainstorm 2013 Pinot Gris (Willamette Valley)', 'Pinot Gris', 'Rainstorm'),
 (3, 'US', 'Reserve Late Harvest', 87, 13, 'Michigan', 'Lake Michigan Shore', None, 'Alexander Peartree', None, 'St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore)', 'Riesling', 'St. Julian'),
 (4, 'US', "Vintner's Reserve Wild Child Block", 87, 65, 'Oregon', 'Willamette Valley', 'Willamette Valley', 'Paul Gregutt', '@paulgwine\xa0', "Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley)", 'Pinot Noir', 'Sweet Cheeks')]

In [17]:
conn.execute("select * from coordinate limit 5").fetchall()

[(1, 'Italy', 'Etna', '[37.751005, 14.9934349]'),
 (2, 'US', 'Willamette Valley', '[44.942554, -122.9337615]'),
 (3, 'US', 'Lake Michigan Shore', '[43.8348105, -85.0720293]'),
 (4, 'Spain', 'Navarra', '[42.6953909, -1.6760691]'),
 (5, 'Italy', 'Vittoria', '[35.4669667, -97.5428508]')]